# --- Python virtual environment ---
.venv/
venv/
env/

# --- Python cache/bytecode ---
__pycache__/
*.pyc
*.pyo

# --- VS Code ---
.vscode/

# --- OS junk ---
.DS_Store
Thumbs.db
src/api_key.txt
data/models/yolo11s.onnx
data/models/yolo11s.pt
